@media screen and (max-width: 375px) {


.upper-part {
  background-color: hsl(278, 94%, 30%);
  height: 14rem;
}

.card-back {
  background-color: white;
  height: 10rem;
  width: 18rem;
  position: relative;
  top: 1rem;
  z-index: 1;
  border: 1px solid;
  border-radius: 10px;
  margin-left: 3.5rem;
}

.card-swipe {
  height: 2rem;
  background-color: black;
}

.card-back__cvc {
  background-color: gray;
  color: white;
  height: 2rem;
  width: 15rem;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid none;
  border-radius: 5px;
  margin-top: 0.8rem;
  margin-left: 1rem;
  padding-right: 1rem;
}

.card-front {
  background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  color: white;
  height: 10em;
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7rem;
  border: 1px solid none;
  border-radius: 10px;
  z-index: 2;
  margin-left: 1rem;
}

.card-front__circles {
  display: flex;
  align-items: center;
}

.card-circle-one {
  background-color: white;
  border-radius: 50px;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.card-circle-two {
  border: 1px solid white;
  border-radius: 50px;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.card-front__card-numbers {
  text-align: center;
  margin-top: 2.8rem;
}

.card-front-bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-front-name {
  margin: 0;
  padding: 0;
}

.card-front-dates {
  display: flex;
}

input[type=text] {
  outline:none
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  background-color: white;
}

.card-input-fields {
  width: 19rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}

.label-cvc {
  margin-left: 1rem;
}

.dates {
  width: 3rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}

.input-cvc {
  width: 9.5rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
  margin-left: 0.5rem;
}

#button {
  width: 20rem;
  height: 3rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
}

}