@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body {
  font-family: "Space Grotesk";
  font-weight: 500;
  background-color: white;
  margin: 0;
  height: 100svh;
  width: 100svw;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.card-section {
  background-image: url(images/bg-main-desktop.png);
  background-size: cover;
  width: 30%;
  position: relative;
}

input:hover {
 cursor: pointer;
}

input:focus {
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsl(249, 99%, 64%),
              0 0 0 1px hsl(278, 94%, 30%);
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.card-section__back {
  position: absolute;
  top: 50%;
  left: 75%;
  background-color: white;
  height: 10rem;
  width: 18rem;
  z-index: 1;
  border: 1px solid;
  border-radius: 10px;
  top: 50%;
  transform: translate(-50%, 10%);
  left: 100%;
}

.card-section__swipe {
  margin-top: 1rem;
  height: 2rem;
  background-color: black;
}

.card-section__cvc {
  background-color: rgba(173, 182, 191, 1);
  color: white;
  height: 2rem;
  width: 15rem;
  display: flex;
  justify-content: end;
  align-items: center;
  border: 1px solid none;
  border-radius: 5px;
  margin-top: 0.8rem;
  margin-left: 1rem;
  padding-right: 1rem;
}

.card-section__back-lines {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.card-section__line-containers {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}

.card-section__line-XL {
  margin: 0.08rem;
  width: 5rem;
  height: 0.1rem;
  border-radius: 20%;
  background-color: rgba(173, 182, 191, 1);
}

.card-section__line-L {
  margin: 0.08rem;
  width: 2rem;
  height: 0.1rem;
  border-radius: 20%;
  background-color: rgba(173, 182, 191, 1);
}

.card-section__line-M {
  margin: 0.08rem;
  width: 1rem;
  height: 0.1rem;
  border-radius: 20%;
  background-color: rgba(173, 182, 191, 1);
}

.card-section__line-S {
  margin: 0.08rem;
  width: 1rem;
  height: 0.1rem;
  border-radius: 20%;
  background-color: rgba(173, 182, 191, 1);
}

.card-section__line-XS {
  margin: 0.08rem;
  width: 0.4rem;
  height: 0.1rem;
  border-radius: 20%;
  background-color: rgba(173, 182, 191, 1);
}

.card-section__front {
  background-image: url(images/bg-card-front.png);
  background-size: cover;
  color: white;
  height: 10em;
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  top: 50%;
  transform: translate(-70%, -100%);
  left: 100%;
}

.card-section__circle {
  display: flex;
  align-items: center;
}

.card-section__circle--one {
  background-color: white;
  border-radius: 50px;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.card-section__circle--two {
  border: 1px solid white;
  border-radius: 50px;
  height: 0.8rem;
  width: 0.8rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.card-section__card-num {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.card-section__placeholders {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-section__placeholder-info {
  margin: 0;
  padding: 0;
}

.card-section__placeholder-dates {
  display: flex;
}

input[type=text] {
  outline: none;
}

.info-section__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 4rem;
  background-color: white;
  height: 100%;
  margin-bottom: 2rem;
}

.info-section__labels {
  display: flex;
  flex-direction: column;
}

.info-section__input-fields {
  width: 18rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}

.info-section__label-cvc {
  margin-left: 0.5rem;
}

.info-section__input-dates {
  width: 3rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}

.info-section__input-cvc {
  width: 9rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 1rem;
}

.info-section__form-btn {
  width: 20rem;
  height: 3rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
}

.info-section-error-message {
  visibility: hidden;
  color: hsl(0, 100%, 66%);
  display: flex;
  justify-content: center;
}

.info-section__completed-state {
  display: none;
  flex-direction: column;
  align-items: center;
}

.info-section__completed-text {
  color: rgba(173, 182, 191, 1);
  margin-top: 0;
  margin-bottom: 3rem;
}


@media screen and (max-width: 800px) {

.main {
  display: block;
}

.card-section {
  background-image: url(images/bg-main-mobile.png);
  background-size: cover;
  height: 14rem;
  width: 100%;
  position: relative;
}

.info_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.card-section__back {
  background-color: white;
  height: 10rem;
  width: 18rem;
  position: absolute;
  left: 50%;
  transform: translate(-40%, -55%);
  z-index: 1;
  border: 1px solid;
  border-radius: 10px;
}

.card-section__front {
  color: white;
  height: 10em;
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  transform: translate(-60%, 0%);
  border: 1px solid none;
  border-radius: 10px;
  z-index: 2;
}

}